body , html{
    margin: 0;
    padding: 0;
    background-color: #0F27C2;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
}

.top {
    margin: 50px;
    height: 670px;
    position: relative;
}

nav {
    margin-right: 50px;
    position: absolute;
    right: 0;
}

nav ul {
    float: right;
}

nav ul li {
    display: inline-block;
    padding: 10px;
    margin-left: 48px;
}

nav ul li a {
    outline: none;
    color: white;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1.2px;
}

.top h1 {
    font-size: x-large;
    position: absolute;
    width: 300px;
}

.content {
    position: absolute;
    bottom: 0;
}

.content ul {
    list-style-type: none;
    display: inline;
    line-height: 50px;
    font-weight: 550;
}

.content ul li a {
    outline: none;
    color: white;
    text-decoration: none;
    font-size: 80px;
}

.bottom {
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 50px;
    background-color: green;
    position: relative;
}

@media screen and (max-width: 864px) {

    .top {
        margin: 45px;
        height: 89vh;
    }

    nav {
        left: 0;
    }

    nav ul {
        float: left;
        line-height: 27px;
        padding: 0;
    }

    nav ul li {
        display: block;
        margin: 0;
        padding: 0;
    }

    nav ul li a {
        font-size: medium;
        font-weight: 100;
    }

    .top h1 {
        font-size: 20px;
        width: 300px;
        top: 100px;
    }

    .content {
        bottom: 110px;
    }

    .content ul {
        line-height: 30px;
    }

    .content ul li a {
        font-size: 40px;
    }

}